* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  font-family: sans-serif;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#d3cce3), to(#e9e4f0));
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
}

header {
  font-size: 16px;
  width: 95%;
  height: 4em;
  margin: auto;
}

header .nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.logo h2 a {
  color: #006F5C;
  cursor: pointer;
  text-decoration: none;
}

.nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__lists .nav__list {
  list-style: none;
}

.nav__lists .nav__list a {
  color: #134f8a;
  text-decoration: none;
}

.nav__lists .nav__list a:hover {
  color: #1b2725;
}

.nav__lists .nav__list a.active {
  color: #ffffff;
}

#nav {
  display: none;
  cursor: pointer;
}

@media screen and (min-width: 10em) {
  #nav {
    position: absolute;
    top: 1.8em;
    left: 90%;
    display: block;
    z-index: 9999;
  }
  .logo {
    z-index: 8888;
    font-size: 16px;
  }
  .logo h2 a {
    font-size: 0.8em;
  }
  .nav__lists {
    display: none;
    -webkit-transition: -webkit-transform  ease-in 0.7s;
    transition: -webkit-transform  ease-in 0.7s;
    transition: transform  ease-in 0.7s;
    transition: transform  ease-in 0.7s, -webkit-transform  ease-in 0.7s;
  }
  .nav__lists .nav__list {
    padding-top: 1em;
    -webkit-transition: all ease-in-out 2s;
    transition: all ease-in-out 2s;
  }
  .nav__lists .nav__list a {
    font-size: 1em;
  }
  .nav__lists .nav__list:hover {
    background-color: rgba(52, 73, 72, 0.309);
  }
}

.toggled {
  display: block;
  text-align: center;
  padding: 2.5em 2em 0.8em 0;
  z-index: 9000;
  position: fixed;
  top: 0;
  right: -1em;
  width: 100%;
  height: 100%;
  background: #654ea3;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#eaafc8), to(#654ea3));
  background: linear-gradient(to right, #eaafc8, #654ea3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.95;
}

@media screen and (min-width: 55em) {
  #nav {
    display: none;
  }
  .nav__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.load-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: all ease-in 0.6s;
  transition: all ease-in 0.6s;
  position: fixed;
  color: #ffffff;
  z-index: 8999;
  /* Safari */
}

.load-container .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.section_content {
  width: 100%;
  font-size: 16px;
}

.section_content .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1.5em;
  min-width: calc(90%, 70rem);
  height: 100%;
}

.section_content .content {
  -webkit-box-shadow: 0 4px 8px 0 rgba(52, 161, 238, 0.2);
          box-shadow: 0 4px 8px 0 rgba(52, 161, 238, 0.2);
  padding: 0.5em 1.5em 0.5em 1.5em;
}

@media screen and (min-width: 25em) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 40em) {
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 60em) {
  .container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.content .image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20em;
  border-radius: 0.2em;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content .img_info {
  padding: 0 1em 1em 1em;
}

.content .img_info #title {
  font-size: 0.9em;
  color: rgba(13, 13, 13, 0.966);
}

.content .img_info #title .title_child {
  font-size: 1em;
  font-weight: 600;
  color: #7575df;
}

.content .img_info .content_img__paragraph {
  padding-top: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
}

.content .img_info .content_img__paragraph .date {
  color: deeppink;
}

.content .img_info .author {
  font-size: 0.9em;
  color: coral;
}

.content .img_info .author .time {
  font-size: 0.6em;
  color: #275ede;
}

footer {
  margin-top: 2em;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */